{% extends 'base.html.twig' %}

{% block title %}Friends index{% endblock %}

{% block body %}
    <h1>Friends index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Sexe</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for friend in friends %}
            <tr>
                <td>{{ friend.id }}</td>
                <td>{{ friend.firstname }}</td>
                <td>{{ friend.lastname }}</td>
                <td>{{ friend.sexe }}</td>
                <td>{{ friend.age }}</td>
                <td>
                    <a href="{{ path('friends_show', {'id': friend.id}) }}">show</a>
                    <a href="{{ path('friends_edit', {'id': friend.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('friends_new') }}">Create new</a>
{% endblock %}